.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.totalPrice {
  font-weight: bold;
  font-size: 24px;
}

.formFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
